openapi: 3.0.0
info:
  title: Movie API
  description: store my favourite movies
  version: 0.1.0
servers:
  - url: https://bestmovie.spinforward.it/api/v1/
    description: Production BestMovie server
  - url: https://bestmovie-staging.spinforward.it/api/v1/
    description: Staging BestMovie server
paths:
  /movie/:
    get:
      summary: Movies Resources List
      description: Movies Resources List
      responses:
        '200':
          description: A JSON array of movies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/movies'
    post:
      summary: Add a new Movie
      description: Add a new Movie
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/movie'
      responses:
        '201':
          description: Movie succesfully added
      
  /movie/{id}:
    description: Get a Movie based on id parameter
    get:
      parameters: 
        - in: path
          name: id
          example: 8
          required: True
          schema:
            type: integer
      responses:
        '200':
          description: Success Response, a movie has been founded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/movie'
        '404':
          description: Movie with the specified ID was not found
        '400':
          description: The spcified ID is invalid (not a number))
    delete:
      parameters: 
        - in: path
          name: id
          example: 8
          required: True
          schema:
            type: integer
      responses:
        '204':
          description: Movie successfully deleted
        '404':
          description: Movie with the specified ID was not found
    put:
      parameters: 
        - in: path
          name: id
          example: 8
          required: True
          schema:
            type: integer
      summary: Update an existing Movie
      description: Update an existing Movie
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/movie'
      responses:
        '200':
          description: Movie succesfully updated   
      
components:
  schemas:
    movie:
      type: object
      properties:
        MovieID:
          type: integer
          example: 8
        MovieTitle:
          type: string
          example: Eyes Wide Shut
        MovieGenre:
          type: string
          example: Comedy
    movies:
      type: array
      items:
        properties:
          MovieID:
            type: integer
            example: 8
          MovieTitle:
            type: string
            example: Eyes Wide Shut
          MovieGenre:
            type: string
            example: Comedy
                  