body{
    background-color: rgb(186, 151, 151);
}
.container {
    margin: 0 auto;
    width:auto;
}
h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
}

.green {
    float: left; 
     
}

.yellow {
    float: left; 
}

.grey {
    float: left; 
}

div.box {
    border:solid white 2px;
    height: 50px;
    width: 50px;
}

