body{
    background-color: black;
}
.container {
    margin: 0 auto;
    width:auto;
}
h1{
    color: white;
    font-size: 50px;
}

.green {
    float: left; 
     
}

.yellow {
    float: left; 
}

.grey {
    float: left; 
}

div.box {
    border:solid white 2px;
    height: 50px;
    width: 50px;
}

