body{
    width: 100%;
    max-width: 100%;
    background-color:gray;
    color:azure;
}

h1{
    background-color: white;
    color: wheat;

}

p{

    color:rgb(165, 42, 42);
    font-family: "Times New Roman";
}