@model MVC_Vuoto.Models.Prodotto

@{
    ViewBag.Title = "Index";
}

<h2>Prodotto</h2>

<p>Codice: @Model.Codice</p>

Creare una classe prodotto scelto che ha un prodotto e una quantità
Creare il metodo SubTotale
Costruire una Action per visualizzare la configurazione dell'oggetto e il subtotale

